<h3>Ujemanja:</h3>

<div *ngIf="matches">
    <ul class="matches">
        <li *ngFor="let match of matches">
            <button class="chat"
                (click)="toChat(match); $event.stopPropagation()" style="margin-right: 10px">Pogovor
            </button>
            <span *ngIf="isUser">ApartmentId: {{match.apartmentId}}</span>
            <span *ngIf="!isUser">UserId: {{match.userId}}</span>
            <button class="delete"
                (click)="unmatch(match); $event.stopPropagation()">X
            </button>
        </li>
    </ul>
</div>

<br>
<div>
    <button (click)="nazaj()" style="margin-left: 10px">Nazaj</button>
</div>