<div *ngIf="chats">

    <h3>Pogovor:</h3>
    <ul class="chats">
        <li *ngFor="let chat of chats">
            <span>{{chat.userId}} : {{chat.message}}</span>
        </li>
    </ul>
</div>

<hr>
<!-- pošiljanje novega sporočila -->
<div *ngIf="chats">
    <form (ngSubmit)="submitForm()" ngNativeValidate>
        <table>
            <tr hidden>
                <td><label for="apartmentId">ApartmentId:</label></td>
                <td><input [(ngModel)]="chat.apartmentId" id="apartmentId" name="apartmentId" type="number"/></td>
            </tr>
            <tr hidden>
                <td><label for="userId">UserId:</label></td>
                <td><input [(ngModel)]="chat.userId" id="userId" name="userId" required type="number"/></td>
            </tr>
            <br>
            <tr>
                <td><label for="message">Sporočilo:</label></td>
                <td><input [(ngModel)]="chat.message" id="message" name="message" required size="64" style="height:50px"/></td>
            </tr>
        </table>

        <br>
        <button (click)="nazaj()" style="margin-left: 10px; margin-right: 20px">Nazaj</button>
        <button type="submit">Pošlji</button>
    </form>
</div>